/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*	* {
		border: 1px solid blue;
	}*/
/*body {
	padding: 30px;
}*/

/*#page {
	padding: 20px;
	background-color: orange
}*/
* {
	box-sizing: border-box;
}
#page {
	min-width: 640px;
	max-width: 1096px;
	margin: auto;
}
#header {
	padding: 0px 10px 0px 10px;
	background-color: #090909;
}
#nav {
}
.title {
	margin: 10px 10px 10px 10px;
	font-family: Helvetica, Arial, sans-serif;
	color: #fff;
	display: inline-block;
}
.subheader {
	font-size: 12pt;
	font-weight: lighter;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}
.logo {
	font-size: 22pt;
	font-weight: lighter;
}

#content {
	padding: 10px 10px 0px 10px;
}
.profile {
	margin: 20px;
	padding: 10px;
	display: inline-block;
}
.left {
	width: 25%;
	max-height: 180px;
	max-width: 180px;
/*	margin: 10px;
*/	margin: auto;
	padding-right: 10px;
	float: left;
	display: inline-block;
}
.right {
	width: 75%;
	height: 100%;
	background-color: #eee;
	border-radius: 5px;
/*	margin: 0px 0px 10px 0px;
*/	margin: auto;
	padding: 0px 10px 16px 10px;
	float: left;
	display: inline-block;
	color: #282828;
}
.right p {
	margin-left: 20px;
	margin-right: 20px;
	font-size: 14px;
	letter-spacing: 0.05em;
}
.right p span {
	font-weight: bold;
	color: #252525;
	text-transform: uppercase;
	padding-right: 10px;
}
#name {
	font-size: 18pt;
	color: #282828;
	letter-spacing: 0.08em;
}
#city {
	margin-top: -20px;
	font-weight: bold;
}
#job {
	padding-top: 5px;
}
#hobbies {
	margin-top: -5px;
}
/*.right p {
	height:100%;
	width:100%;
	background-color: #eee;
	border-radius: 5px;
	margin: 0px 0px 10px 0px;
	padding: 10px 10px 10px 10px;
}*/
.left img {
	height: 100%;
	width: 100%;
	margin-right: 5px;
	border-radius: 100%;
	display: block;
}
.info {
	display: block;
}
#nav a:link {
	text-decoration: none;
	padding-bottom: 5px;
	color: white;
}
#nav a:visited {
	color: white;
}
#nav a:active {
	color: white;
}
#nav a:hover {
	border-bottom: 4px solid #999999;
}
#active {
	color: white;
	border-bottom: 4px solid white;
}
/*.profile {
	margin: 20px;
	border: 2px solid black;
	display: block;
}
.profile img {
	height: 100px;
	width: 100px;
	padding: 20px;
	border: 2px solid black;
}*/