/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*	* {
		border: 1px solid blue;
	}*/
/*body {
	padding: 30px;
}*/

/*#page {
	padding: 20px;
	background-color: orange
}*/
* {
	box-sizing: border-box;
}
html {
	-webkit-font-smoothing: antialiased;
}
body {
}

#page {
	min-width: 461px;
	max-width: 1096px;
	margin: auto;

}
#header {
	padding: 0px 10px 0px 10px;
	background-color: #282828;
	box-shadow: 0px 5px 10px -5px #555555;
}
#nav {
	height:150px;
	padding-top:28px;
}
.title {
}
.subheader {
	font-size: 11pt;
	letter-spacing: 0.2em;
	margin: 90px 20px 10px 0px;
	padding-right: 10px;
	font-family: 'Roboto', Futura, Helvetica Neue, Helvetica, Arial, sans-serif;
	color: #fff;
	display: inline-block;
	float: right;
}
.logo {
/*	height: 113px;
	width: 168px;*/
	margin:-5px -40px 0px 15px; 
	font-size: 22pt;
	font-weight: lighter;
	display: block;	
/*	background-image: "images/scruggs.png";*/
}

#content {
	padding: 10px 10px 0px 10px;
}
.info {
	margin: 20px;
	padding: 10px;
	display: inline-block;
	width:100%;
}
.left {
	width: 25%;
	max-height: 180px;
	max-width: 180px;
/*	padding-top: 20px;*/
	float: left;
/*	padding: 20px;*/
/*	display: inline-block;
*/
	margin-top: 15px;
	margin-right: 40px;
}
.post {
	width: 70%;
	height: 100%;
	background-color: orange;
	box-shadow: 0 0 8px #a2a2a2;
	border-radius: 1px;
	margin: auto;
	padding: 0px 10px 16px 10px;
	float: left;
/*	display: inline-block;*/
}
.post p {
	margin-left: 20px;
	margin-right: 20px;
	font-size: 14px;
	letter-spacing: 0.05em;
	color: #252525;
	font-family: 'Roboto', Futura, Helvetica Neue, Helvetica, Arial, sans-serif;
}
.post p span {
	font-weight: bold;
/*	color: #252525;*/
	text-transform: uppercase;
	padding-right: 10px;
}
/*	margin: 20px 50px 0px 0px;*/


#title {
	font-size: 18pt;
/*	color: #282828;*/
	letter-spacing: 0.08em;
}
#subtitle {
	margin-top: -20px;
	font-weight: bold;
	margin-bottom: 40px;
}
#p1 {
	padding-top: 5px;
	margin-top: -5px
}

/*.right p {
	height:100%;
	width:100%;
	background-color: #eee;
	border-radius: 5px;
	margin: 0px 0px 10px 0px;
	padding: 10px 10px 10px 10px;
}*/
.left img {
/*	height: 180px;
	width: 180px;*/
	height: 100%;
	width:100%;
/*	margin:20px;*/
	border-radius: 100%;
/*	display: block;*/
}
.left p {
/*	height: 180px;
	width: 180px;
*/	height: 100%;
	width:100%;
/*	margin:20px;
	display: block;*/
	background-color: white;
	border: blue 3px solid;
}
#nav a:link {
	text-decoration: none;
	color: white;
	padding-bottom: 14px;
}
#nav a:visited {
	color: white;
}
#nav a:active {
	color: white;
}
#nav a:hover {
	border-bottom: 4px solid #a4a4a4;
}
#active {
	color: white;
	border-bottom: 16px solid white;
}
/*.profile {
	margin: 20px;
	border: 2px solid black;
	display: block;
}
.profile img {
	height: 100px;
	width: 100px;
	padding: 20px;
	border: 2px solid black;
}*/